* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 600;

}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
   
    background-color: #eee;
    background-color: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 6;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.trusted-partner__content {
    width: var(--marquee-width);
    height: var(--marquee-height);
    
    color: #eee;
    overflow: hidden;
    position: relative;
}

.trusted-partner__content:before, .trusted-partner__content:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.trusted-partner__content:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
}

.trusted-partner__content:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height) * 3 / 4);
    white-space: nowrap;
}

.marquee-content li i {
    font-size: calc(var(--marquee-height) * 1 / 2); /* Adjust the icon size */
    color: #fff;
}

.marquee-content li img
{
    height: 5vh;
    
}
.trusted-partner__title
{
    font-size: 32px;
    color: white;
}

@media (max-width: 1440px) {
    :root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
    }

    .marquee-content li img
    {
        height: 4vh;
    }
}

@media (max-width: 768px) {
    :root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 3;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
    }

    .marquee-content li img
    {
        height: 4vh;
    }
}

@media(max-width: 450px) {
    :root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 2;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
    }

    .marquee-content li img
    {
        height: 4vh;
    }
}