<h1>HTTP Client</h1>
<hr />
<h4>GET API</h4>
<button (click)="getAllUsers()">Get</button>
<div *ngFor="let user of userList">
  <p>{{ user.name }}</p>
</div>
<hr />
<h4>POST API</h4>
<form (ngSubmit)="submitForm()" #form="ngForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="user.name" required />
  </div>
  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      required
    />
  </div>
  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>

<p *ngIf="response">
  <strong>Response:</strong> Name: {{ response.name }} Email:
  {{ response.email }}
</p>
<hr />
