<div>
    <h1>Angular Pipes Example</h1>

    <h3>Built-in Pipes</h3>
    <p>Date (Short Format): {{ today | date:'short' }}</p>
    <p>Uppercase: {{ 'hello' | uppercase }}</p>
    <p>Currency: {{ 1234.56 | currency:'USD' }}</p>
    <p>Decimal: {{ 1234.567 | number:'1.2-2' }}</p>
    <p>Percent: {{ 0.25 | percent }}</p>

    <h3>Custom Pipe (Reverse)</h3>
    <p>Original: 'Angular'</p>
    <p>Reversed: {{ 'Angular' | mypipe | uppercase}}</p>
    <p>Multiple Argument on Transform: {{ 'Angular' | multipleargs:"hello ":"!"}}</p>
   
   
</div>