node_modules
.env
after-section-06/config.env
after-section-07/config.env
after-section-08/config.env
after-section-09/config.env
after-section-10/config.env
after-section-11/config.env
after-section-12/config.env
after-section-13/config.env
after-section-14/config.env