<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>AngularJS</h1>
    <hr>
    <!-- <a routerLink="/about">About Page</a> -->
    <a [routerLink]="['/','about','1']">Interpolation & Property Binding</a>
    <!-- <a (click)="navigate()">About Page</a> -->
     <br>
    <a [routerLink]="['/','directives']">Directives</a>
    <br>
    <a [routerLink]="['/','lifecycle']">Component Lifecycle</a>
    <br>
    <a [routerLink]="['/','signals']">Signals</a>
    <br>
    <a [routerLink]="['/','service']">Service</a>
    <br>
    <a [routerLink]="['/','forms']">Template Driven Forms</a>
    <br>
    <a [routerLink]="['/','reactive-forms']">Reactive Forms</a>
    <br>
    <a [routerLink]="['/','httpclient']">HTTP client</a>
    <br>
    <a [routerLink]="['/','component1']">Component1</a>
    <br>
    <a [routerLink]="['/','component2']">Component2</a>
    <br>
    <a [routerLink]="['/','pipes']">Pipes</a>
    <br>
  

</body>
</html> 
